div.image-container {
    padding: 15%;
}

img.page-link {
    border-radius: 6px;
}

div.about-me {
    display: none;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -23px;
  /* Pad bottom by footer height */
  padding: 0 0 23px;
}

#footer {
  height: 23px;
  text-align: center;
  width: 100%;
}
